:root {
  --space: #22223b;
  --dust: #4a4e69;
  --ash: #9a8c98;
  --almond: #c9ada7;
  --seashell: #f2e9e4;
}

.CONTAINER{
  background-color: var(--space);
  display:flex;
  justify-content: center;
  padding: 1%;
  height: 95vh;

  .AlbumDetails{
    background-color: var(--almond);
    height:100%;
    border-radius: 5px;

    button.btn.btn-primary{
        background-color: var(--ash);
        border: solid 1px var(--dust);
        border-radius: 15px;
        transition: all 0.2s;
    }

    button.btn.btn-primary:hover{
        background-color: var(--almond);
        border: solid 1px var(--seashell);
        border-radius: 15px;
    }

    .trackLIST{
      background-color: var(--seashell);
      border-radius: 5px;
      margin-top: 15%;

      a, p{
        color:var(--space) !important;
      }
    }
  }
}